{
  "extends": [
    "standard",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "curly": ["warn", "all"],
    "brace-style": ["warn", "1tbs"],
    "semi": ["warn", "always"],
    "space-before-function-paren": ["warn", "always"],
    "max-len": ["warn", { "code": 250 }],
    "comma-dangle": ["warn", "always-multiline"],
    "no-return-assign": ["off"],
    "no-unused-vars": ["warn"],
    "operator-linebreak": ["warn", "after"],
    "prefer-promise-reject-errors": ["warn"],
    "no-prototype-builtins": ["warn"]
  },
  "env": {
    "es6": true
  }
}
